sphinx
markupsafe
sphinx_immaterial==0.12.6
numpy
pandas
matplotlib
nbsphinx
jupyter_client
notebook
nbconvert
ipykernel
recommonmark
sphinx_markdown_tables
sphinx-copybutton
readthedocs-sphinx-search
myst-parser
pymdown-extensions
