sphinx
markupsafe
sphinx_immaterial
numpy
pydantic==1.10.8
pandas
matplotlib
nbsphinx
jupyter_client
notebook
nbconvert
ipykernel
recommonmark
sphinx_markdown_tables
sphinx-copybutton
readthedocs-sphinx-search
myst-parser
pymdown-extensions
